<div class='post-container delete-event-container is-flex is-flex-direction-column is-align-items-center post-background'>
    {{#each posts as |post|}}
        {{#if comments}}
    <div class="box">
        {{else}}
    <div class="mb-5">
        {{/if}}
        <div class='box'>
            <p class="subtitle is-5 mb-3">{{title}} <span class='subtitle is-6'> - Author: {{user.username}},
                    Created: {{ format_date created_at}}</span></p>
            <p>{{content}}</p> <br>
            {{#if ../loggedIn}}
                <div class='is-flex is-justify-content-space-between'>
                    <a href="/post/{{post.id}}">Comment</a>
                    {{#if (my_post post ../user_id)}}
                        <form class='delete-post-form'>
                            <button type='submit' data-post-id={{post.id}} class='has-text-danger btn-no-style is-size-6'>
                                Delete
                            </button>
                        </form>
                        <form class='updatepost-form'>
                            <a href="/post/edit-post/{{post.id}}" class='has-text-success btn-no-style is-size-6'>
                                Edit
                            </a>
                        </form>
                    {{/if}}
                </div>
            {{/if}}
        </div>

        {{#if comments}}
            <p class="subtitle is-5 mb-3">Comments</p>
            <div>
                {{#each comments as |comment|}}
                <p class='box'>{{comment.content}} <br> - Author: {{comment.user.username}}, Created:{{format_date comment.created_at}}</p>
                {{/each}}
            </div>
        {{/if}}
    </div>
    {{/each}}
</div>