{{#each posts as |post|}}
    {{#if post.comments}}
<div class="post-container box mb-3 mt-3">
    {{else}}
<div class="post-container mb-3 mt-3">
    {{/if}}
    <div class='box'>
        <p class="subtitle is-5 mb-3">{{post.title}} <span class='subtitle is-6'> - Author: {{post.user.username}},
                Created: {{ format_date post.created_at}}</span></p>
        <p>{{post.content}}</p>
    </div>

    {{#if post.comments}}
        <p class="subtitle is-5 mb-3">Comments</p>
        <div>
            {{#each post.comments as |comment|}}
            <p class='box'>{{comment.content}} <br> - Author: {{comment.user.username}}, Created:{{format_date comment.created_at}}</p>
            {{/each}}
        </div>
    {{/if}}
</div>
{{/each}}

{{!-- posts.[0].comments.[0].id --}}