<div class='is-flex is-flex-grow-1 is-justify-content-space-around 
        is-flex-wrap-wrap post-background box m-3'>
    {{#if posts}}
        {{#each (genre posts) as |genre|}}
            {{#if genre}}
                <div class='box is-flex-grow-1 category-container'>
                    <a href='/category/{{genre.[0]}}' class='subtitle is-3 is-block'>{{genre.[1]}}</a>
                    {{#each (post_summary ../posts genre.[1]) as |details|}}
                        <p class='subtitle is-5'>
                            {{details.[1]}} <br>
                            <span class='subtitle is-6'>
                                - Author: {{details.[2]}}, Created: {{format_date details.[3]}} <br>
                                {{#if ../../loggedIn}}
                                    <a href="/post/{{details.[0]}}">Comment</a> 
                                {{/if}}
                            </span>
                        </p>
                    {{/each}}
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
</div>

